<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>STATU</key>
	<string>success</string>
	<key>RESULT</key>
	<dict>
		<key>TOOLS</key>
		<dict>
			<key>MODULENAME</key>
			<string>实用工具</string>
			<key>MODULECODE</key>
			<string>tools</string>
			<key>MODULESHOW</key>
			<true/>
			<key>MODULENODES</key>
			<array>
				<dict>
					<key>MODULENAME</key>
					<string>二维码</string>
					<key>MODULECODE</key>
					<string>QRCode</string>
					<key>MODULESHOW</key>
					<true/>
					<key>MODULENODES</key>
					<array>
						<dict>
							<key>MODULENAME</key>
							<string>生成二维码</string>
							<key>MODULECODE</key>
							<string>QRCode_production</string>
							<key>MODULESHOW</key>
							<string>YES</string>
							<key>MODULEEXT</key>
							<dict/>
						</dict>
						<dict>
							<key>MODULENAME</key>
							<string>扫描二维码／条形码</string>
							<key>MODULECODE</key>
							<string>QRCode_scanner</string>
							<key>MODULESHOW</key>
							<true/>
							<key>MODULEEXT</key>
							<dict/>
						</dict>
					</array>
					<key>MODULEEXT</key>
					<dict/>
				</dict>
				<dict>
					<key>MODULENAME</key>
					<string>音频</string>
					<key>MODULECODE</key>
					<string>audio</string>
					<key>MODULESHOW</key>
					<true/>
					<key>MODULENODES</key>
					<array>
						<dict>
							<key>MODULENAME</key>
							<string>系统的音频</string>
							<key>MODULECODE</key>
							<string>audio_system</string>
							<key>MODULESHOW</key>
							<string>YES</string>
							<key>MODULEEXT</key>
							<dict/>
						</dict>
						<dict>
							<key>MODULENAME</key>
							<string>自定义音效</string>
							<key>MODULECODE</key>
							<string>audio_yinxiao</string>
							<key>MODULESHOW</key>
							<true/>
							<key>MODULEEXT</key>
							<dict/>
						</dict>
						<dict>
							<key>MODULENAME</key>
							<string>录音</string>
							<key>MODULECODE</key>
							<string>audio_record</string>
							<key>MODULESHOW</key>
							<true/>
							<key>MODULEEXT</key>
							<dict/>
						</dict>
						<dict>
							<key>MODULENAME</key>
							<string>语音识别</string>
							<key>MODULECODE</key>
							<string>speechRecognition</string>
							<key>MODULESHOW</key>
							<true/>
							<key>MODULEEXT</key>
							<dict/>
						</dict>
						<dict>
							<key>MODULENAME</key>
							<string>音乐播放</string>
							<key>MODULECODE</key>
							<string>audio_music</string>
							<key>MODULESHOW</key>
							<true/>
							<key>MODULEEXT</key>
							<dict/>
						</dict>
					</array>
					<key>MODULEEXT</key>
					<dict/>
				</dict>
				<dict>
					<key>MODULENAME</key>
					<string>网络工具-----AF二次封装</string>
					<key>MODULECODE</key>
					<string>NetTools</string>
					<key>MODULESHOW</key>
					<true/>
					<key>MODULENODES</key>
					<array/>
					<key>MODULEEXT</key>
					<dict/>
				</dict>
			</array>
			<key>MODULEEXT</key>
			<dict/>
		</dict>
		<key>SKILLS</key>
		<dict>
			<key>MODULENAME</key>
			<string>技巧/收藏</string>
			<key>MODULECODE</key>
			<string>skills</string>
			<key>MODULESHOW</key>
			<true/>
			<key>MODULENODES</key>
			<array>
				<dict>
					<key>MODULENAME</key>
					<string>认识URL Schemes</string>
					<key>MODULECODE</key>
					<string>schemes</string>
					<key>MODULESHOW</key>
					<true/>
					<key>MODULENODES</key>
					<array/>
					<key>MODULEEXT</key>
					<dict/>
				</dict>
				<dict>
					<key>MODULENAME</key>
					<string>&amp;--不用回调，获取处理后的值</string>
					<key>MODULECODE</key>
					<string>&amp;</string>
					<key>MODULESHOW</key>
					<true/>
					<key>MODULENODES</key>
					<array/>
					<key>MODULEEXT</key>
					<dict/>
				</dict>
			</array>
			<key>MODULEEXT</key>
			<dict/>
		</dict>
		<key>EXERCISE</key>
		<dict>
			<key>MODULENAME</key>
			<string>练习</string>
			<key>MODULECODE</key>
			<string>exercise</string>
			<key>MODULESHOW</key>
			<true/>
			<key>MODULENODES</key>
			<array>
				<dict>
					<key>MODULENAME</key>
					<string>高德地图</string>
					<key>MODULECODE</key>
					<string>AMap</string>
					<key>MODULESHOW</key>
					<true/>
					<key>MODULENODES</key>
					<array>
						<dict>
							<key>MODULENAME</key>
							<string>定位</string>
							<key>MODULECODE</key>
							<string>location</string>
							<key>MODULESHOW</key>
							<string>YES</string>
							<key>MODULENODES</key>
							<array>
								<dict>
									<key>MODULENAME</key>
									<string>单次定位</string>
									<key>MODULECODE</key>
									<string>onceLocation</string>
									<key>MODULESHOW</key>
									<string>YES</string>
									<key>MODULEEXT</key>
									<dict/>
								</dict>
								<dict>
									<key>MODULENAME</key>
									<string>持续定位</string>
									<key>MODULECODE</key>
									<string>updatingLocation</string>
									<key>MODULESHOW</key>
									<string>YES</string>
									<key>MODULEEXT</key>
									<dict/>
								</dict>
								<dict>
									<key>MODULENAME</key>
									<string>后台定位</string>
									<key>MODULECODE</key>
									<string>backgroundUpdatingLocation</string>
									<key>MODULESHOW</key>
									<string>YES</string>
									<key>MODULEEXT</key>
									<dict/>
								</dict>
								<dict>
									<key>MODULENAME</key>
									<string>地理围栏</string>
									<key>MODULECODE</key>
									<string>geoFence_Location</string>
									<key>MODULESHOW</key>
									<string>YES</string>
									<key>MODULEEXT</key>
									<dict/>
								</dict>
								<dict>
									<key>MODULENAME</key>
									<string>位置区域判断</string>
									<key>MODULECODE</key>
									<string>checkCurrentLocation</string>
									<key>MODULESHOW</key>
									<string>YES</string>
									<key>MODULEEXT</key>
									<dict/>
								</dict>
							</array>
							<key>MODULEEXT</key>
							<dict/>
						</dict>
						<dict>
							<key>MODULENAME</key>
							<string>绘制</string>
							<key>MODULECODE</key>
							<string>drawUp</string>
							<key>MODULESHOW</key>
							<true/>
							<key>MODULENODES</key>
							<array>
								<dict>
									<key>MODULENAME</key>
									<string>绘制点标记</string>
									<key>MODULECODE</key>
									<string>drawUpPoint</string>
									<key>MODULESHOW</key>
									<true/>
									<key>MODULENODES</key>
									<array/>
									<key>MODULEEXT</key>
									<dict/>
								</dict>
								<dict>
									<key>MODULENAME</key>
									<string>绘制折线</string>
									<key>MODULECODE</key>
									<string>drawUpPolyline</string>
									<key>MODULESHOW</key>
									<true/>
									<key>MODULENODES</key>
									<array/>
									<key>MODULEEXT</key>
									<dict/>
								</dict>
								<dict>
									<key>MODULENAME</key>
									<string>绘制圆形</string>
									<key>MODULECODE</key>
									<string>drawUpCircle</string>
									<key>MODULESHOW</key>
									<true/>
									<key>MODULENODES</key>
									<array/>
									<key>MODULEEXT</key>
									<dict/>
								</dict>
								<dict>
									<key>MODULENAME</key>
									<string>绘制轨迹--UserLocation</string>
									<key>MODULECODE</key>
									<string>TraceUser</string>
									<key>MODULESHOW</key>
									<true/>
									<key>MODULENODES</key>
									<array/>
									<key>MODULEEXT</key>
									<dict/>
								</dict>
								<dict>
									<key>MODULENAME</key>
									<string>绘制轨迹--持续定位</string>
									<key>MODULECODE</key>
									<string>TraceSerial</string>
									<key>MODULESHOW</key>
									<true/>
									<key>MODULENODES</key>
									<array/>
									<key>MODULEEXT</key>
									<dict/>
								</dict>
								<dict>
									<key>MODULENAME</key>
									<string>绘制轨迹--单次定位--按时间更新</string>
									<key>MODULECODE</key>
									<string>TraceSingle</string>
									<key>MODULESHOW</key>
									<true/>
									<key>MODULENODES</key>
									<array/>
									<key>MODULEEXT</key>
									<dict/>
								</dict>
							</array>
							<key>MODULEEXT</key>
							<dict/>
						</dict>
						<dict>
							<key>MODULENAME</key>
							<string>POI(兴趣点)</string>
							<key>MODULECODE</key>
							<string>POI</string>
							<key>MODULESHOW</key>
							<string>YES</string>
							<key>MODULENODES</key>
							<array>
								<dict>
									<key>MODULENAME</key>
									<string>关键字检索</string>
									<key>MODULECODE</key>
									<string>POIKeyword</string>
									<key>MODULESHOW</key>
									<string>YES</string>
									<key>MODULEEXT</key>
									<dict/>
								</dict>
								<dict>
									<key>MODULENAME</key>
									<string>周边搜索</string>
									<key>MODULECODE</key>
									<string>POIAround</string>
									<key>MODULESHOW</key>
									<string>YES</string>
									<key>MODULEEXT</key>
									<dict/>
								</dict>
								<dict>
									<key>MODULENAME</key>
									<string>多边形搜索</string>
									<key>MODULECODE</key>
									<string>POIPolygon</string>
									<key>MODULESHOW</key>
									<string>YES</string>
									<key>MODULEEXT</key>
									<dict/>
								</dict>
								<dict>
									<key>MODULENAME</key>
									<string>沿途搜索</string>
									<key>MODULECODE</key>
									<string>POIRoute</string>
									<key>MODULESHOW</key>
									<string>YES</string>
									<key>MODULEEXT</key>
									<dict/>
								</dict>
							</array>
							<key>MODULEEXT</key>
							<dict/>
						</dict>
						<dict>
							<key>MODULENAME</key>
							<string>地理编码和反编码</string>
							<key>MODULECODE</key>
							<string>Geocode</string>
							<key>MODULESHOW</key>
							<string>YES</string>
							<key>MODULENODES</key>
							<array>
								<dict>
									<key>MODULENAME</key>
									<string>地理编码</string>
									<key>MODULECODE</key>
									<string>geocode</string>
									<key>MODULESHOW</key>
									<string>YES</string>
									<key>MODULEEXT</key>
									<dict/>
								</dict>
								<dict>
									<key>MODULENAME</key>
									<string>反地理编码</string>
									<key>MODULECODE</key>
									<string>regeocode</string>
									<key>MODULESHOW</key>
									<string>YES</string>
									<key>MODULEEXT</key>
									<dict/>
								</dict>
							</array>
							<key>MODULEEXT</key>
							<dict/>
						</dict>
						<dict>
							<key>MODULENAME</key>
							<string>行政区划</string>
							<key>MODULECODE</key>
							<string>adminDiv</string>
							<key>MODULESHOW</key>
							<string>YES</string>
							<key>MODULENODES</key>
							<array/>
							<key>MODULEEXT</key>
							<dict/>
						</dict>
						<dict>
							<key>MODULENAME</key>
							<string>天气</string>
							<key>MODULECODE</key>
							<string>weather</string>
							<key>MODULESHOW</key>
							<string>YES</string>
							<key>MODULENODES</key>
							<array/>
							<key>MODULEEXT</key>
							<dict/>
						</dict>
						<dict>
							<key>MODULENAME</key>
							<string>公交</string>
							<key>MODULECODE</key>
							<string>bus</string>
							<key>MODULESHOW</key>
							<string>YES</string>
							<key>MODULENODES</key>
							<array>
								<dict>
									<key>MODULENAME</key>
									<string>公交站点</string>
									<key>MODULECODE</key>
									<string>busStop</string>
									<key>MODULESHOW</key>
									<string>YES</string>
									<key>MODULENODES</key>
									<array/>
									<key>MODULEEXT</key>
									<dict/>
								</dict>
								<dict>
									<key>MODULENAME</key>
									<string>公交路线</string>
									<key>MODULECODE</key>
									<string>busLine</string>
									<key>MODULESHOW</key>
									<string>YES</string>
									<key>MODULENODES</key>
									<array/>
									<key>MODULEEXT</key>
									<dict/>
								</dict>
							</array>
							<key>MODULEEXT</key>
							<dict/>
						</dict>
					</array>
					<key>MODULEEXT</key>
					<dict/>
				</dict>
				<dict>
					<key>MODULENAME</key>
					<string>MJExtension类型转换</string>
					<key>MODULECODE</key>
					<string>MJExtension</string>
					<key>MODULESHOW</key>
					<true/>
					<key>MODULENODES</key>
					<array>
						<dict>
							<key>MODULENAME</key>
							<string>json-</string>
							<key>MODULECODE</key>
							<string>--</string>
							<key>MODULESHOW</key>
							<string>YES</string>
							<key>MODULEEXT</key>
							<dict/>
						</dict>
					</array>
					<key>MODULEEXT</key>
					<dict/>
				</dict>
				<dict>
					<key>MODULENAME</key>
					<string>应用跳转</string>
					<key>MODULECODE</key>
					<string>skip</string>
					<key>MODULESHOW</key>
					<true/>
					<key>MODULENODES</key>
					<array/>
					<key>MODULEEXT</key>
					<dict/>
				</dict>
				<dict>
					<key>MODULENAME</key>
					<string>WKWebview</string>
					<key>MODULECODE</key>
					<string>web</string>
					<key>MODULESHOW</key>
					<true/>
					<key>MODULENODES</key>
					<array>
						<dict>
							<key>MODULENAME</key>
							<string>WKWebview</string>
							<key>MODULECODE</key>
							<string>web_use</string>
							<key>MODULESHOW</key>
							<true/>
							<key>MODULENODES</key>
							<array/>
							<key>MODULEEXT</key>
							<dict/>
						</dict>
						<dict>
							<key>MODULENAME</key>
							<string>JS交互</string>
							<key>MODULECODE</key>
							<string>web_js</string>
							<key>MODULESHOW</key>
							<true/>
							<key>MODULENODES</key>
							<array/>
							<key>MODULEEXT</key>
							<dict/>
						</dict>
					</array>
					<key>MODULEEXT</key>
					<dict/>
				</dict>
				<dict>
					<key>MODULENAME</key>
					<string>POP动画框架</string>
					<key>MODULECODE</key>
					<string>pop</string>
					<key>MODULESHOW</key>
					<true/>
					<key>MODULENODES</key>
					<array>
						<dict>
							<key>MODULENAME</key>
							<string>弹簧动画效果</string>
							<key>MODULECODE</key>
							<string>pop_spring</string>
							<key>MODULESHOW</key>
							<true/>
							<key>MODULENODES</key>
							<array/>
							<key>MODULEEXT</key>
							<dict/>
						</dict>
						<dict>
							<key>MODULENAME</key>
							<string>衰减动画</string>
							<key>MODULECODE</key>
							<string>pop_decay</string>
							<key>MODULESHOW</key>
							<true/>
							<key>MODULENODES</key>
							<array/>
							<key>MODULEEXT</key>
							<dict/>
						</dict>
						<dict>
							<key>MODULENAME</key>
							<string>基本动画效果</string>
							<key>MODULECODE</key>
							<string>pop_basic</string>
							<key>MODULESHOW</key>
							<true/>
							<key>MODULENODES</key>
							<array/>
							<key>MODULEEXT</key>
							<dict/>
						</dict>
						<dict>
							<key>MODULENAME</key>
							<string>简单demo</string>
							<key>MODULECODE</key>
							<string>pop_exe</string>
							<key>MODULESHOW</key>
							<true/>
							<key>MODULENODES</key>
							<array/>
							<key>MODULEEXT</key>
							<dict/>
						</dict>
						<dict>
							<key>MODULENAME</key>
							<string>More Example</string>
							<key>MODULECODE</key>
							<string>More Example</string>
							<key>MODULESHOW</key>
							<true/>
							<key>MODULENODES</key>
							<array/>
							<key>MODULEEXT</key>
							<dict/>
						</dict>
					</array>
					<key>MODULEEXT</key>
					<dict/>
				</dict>
			</array>
			<key>MODULEEXT</key>
			<dict/>
		</dict>
		<key>EXPERIENCE</key>
		<dict>
			<key>MODULENAME</key>
			<string>心得体会</string>
			<key>MODULECODE</key>
			<string>experience</string>
			<key>MODULESHOW</key>
			<true/>
			<key>MODULENODES</key>
			<array>
				<dict>
					<key>MODULENAME</key>
					<string>心得体会</string>
					<key>MODULECODE</key>
					<string>exp</string>
					<key>MODULESHOW</key>
					<true/>
					<key>MODULENODES</key>
					<array>
						<dict>
							<key>MODULENAME</key>
							<string>哈哈哈</string>
							<key>MODULECODE</key>
							<string>hahaha</string>
							<key>MODULESHOW</key>
							<string>YES</string>
							<key>MODULEEXT</key>
							<dict/>
						</dict>
					</array>
					<key>MODULEEXT</key>
					<dict/>
				</dict>
			</array>
			<key>MODULEEXT</key>
			<dict/>
		</dict>
	</dict>
</dict>
</plist>
